INSTALLATIONTYPE:{{ ANSWER_FILE_DATA.INSTALLATIONTYPE }}
PTTSYSTEMTYPE:{{ ANSWER_FILE_DATA.PTTSYSTEMTYPE }}
DEPLOYMENT_REDUNDANCY_TYPE:{{ ANSWER_FILE_DATA.DEPLOYMENT_REDUNDANCY_TYPE }}
LOCALEMSIPADDRESS:{{ ANSWER_FILE_DATA.LOCALEMSIPADDRESS }}
ALIASINTERFACE:{{ ANSWER_FILE_DATA.ALIASINTERFACE | default('') }}
ALIASIPADDRESS:{{ ANSWER_FILE_DATA.ALIASIPADDRESS | default('') }}
ALIASBROADCASTIPADDRESS:{{ ANSWER_FILE_DATA.ALIASBROADCASTIPADDRESS | default('') }}
ALIASNETMASK:{{ ANSWER_FILE_DATA.ALIASNETMASK | default('') }}
CHASSIS_TYPE:{{ ANSWER_FILE_DATA.CHASSIS_TYPE }}
CMMIPADDRESS:{{ ANSWER_FILE_DATA.CMMIPADDRESS }}
POCINTERFACEIPADDRESS:{{ ANSWER_FILE_DATA.POCINTERFACEIPADDRESS }}
COMMUNICATIONINTERFACEIP:{{ ANSWER_FILE_DATA.COMMUNICATIONINTERFACEIP }}
SLOTNUMBER:{{ ANSWER_FILE_DATA.SLOTNUMBER }}
EMSCHASSISNAME:{{ ANSWER_FILE_DATA.EMSCHASSISNAME }}
CHASSISLOCATION:{{ ANSWER_FILE_DATA.CHASSISLOCATION }}
CHASSISRACKNUM:{{ ANSWER_FILE_DATA.CHASSISRACKNUM }}
CHASSISSELFNUM:{{ ANSWER_FILE_DATA.CHASSISSELFNUM }}
CHASSISZIPCODE:{{ ANSWER_FILE_DATA.CHASSISZIPCODE }}
CHASSISCITY:{{ ANSWER_FILE_DATA.CHASSISCITY }}
CARRIERID:{{ ANSWER_FILE_DATA.CARRIERID }}
COUNTRYCODE:{{ ANSWER_FILE_DATA.COUNTRYCODE }}
DEPLOYMENTTYPE:{{ ANSWER_FILE_DATA.DEPLOYMENTTYPE }}
SERVICEPLANEIPADDRESSES:{{ ANSWER_FILE_DATA.SERVICEPLANEIPADDRESSES }}
INTERFACELIST:{{ ANSWER_FILE_DATA.INTERFACELIST }}
DATABASEUSERNAME:{{ ANSWER_FILE_DATA.DATABASEUSERNAME }}
DATABASEPASSWORD:{{ ANSWER_FILE_DATA.DATABASEPASSWORD }}
TIMESTEN_ADMIN_ENC_PASSWORD:{{ ANSWER_FILE_DATA.TIMESTEN_ADMIN_ENC_PASSWORD }}
SUPER_ADMIN_USERNAME:{{ ANSWER_FILE_DATA.SUPER_ADMIN_USERNAME }}
SUPER_ADMIN_PASSWORD:{{ ANSWER_FILE_DATA.SUPER_ADMIN_PASSWORD }}
RHELIDM_ADMIN_USER:{{ ANSWER_FILE_DATA.RHELIDM_ADMIN_USER }}
RHELIDM_ADMIN_PW:{{ ANSWER_FILE_DATA.RHELIDM_ADMIN_PW }}
LICENSEKEYINSTALL:{{ ANSWER_FILE_DATA.LICENSEKEYINSTALL }}
LICENSEKEYLOCATION:{{ ANSWER_FILE_DATA.LICENSEKEYLOCATION }}
LICENSECUSTOMERNAME:{{ ANSWER_FILE_DATA.LICENSECUSTOMERNAME }}
LICENSEKEYPASSWORD:{{ ANSWER_FILE_DATA.LICENSEKEYPASSWORD }}
DGSERVICESTART:{{ ANSWER_FILE_DATA.DGSERVICESTART }}
FRESHINSTALL:{{ ANSWER_FILE_DATA.FRESHINSTALL }}
EMSCARDNAME:{{ ANSWER_FILE_DATA.EMSCARDNAME }}
DEPLOYMENT_PLATFORM_TYPE:{{ ANSWER_FILE_DATA.DEPLOYMENT_PLATFORM_TYPE }}
INTERNAL_HOST_DOMAIN:{{ ANSWER_FILE_DATA.INTERNAL_HOST_DOMAIN }}
PKI_ORGANISATION:{{ ANSWER_FILE_DATA.PKI_ORGANISATION }}
VAULT_PKI_FLAG:{{ ANSWER_FILE_DATA.VAULT_PKI_FLAG }}
VAULT_TEMP_CERT_FLAG:{{ ANSWER_FILE_DATA.VAULT_TEMP_CERT_FLAG }}
VAULT_INSTALLED_FLAG:{{ ANSWER_FILE_DATA.VAULT_INSTALLED_FLAG }}
IS_TIMESTEN_SSL_ENABLED:{{ ANSWER_FILE_DATA.IS_TIMESTEN_SSL_ENABLED }}
TIMESTEN_REP_SSL_MANDATORY:{{ ANSWER_FILE_DATA.TIMESTEN_REP_SSL_MANDATORY }}
REMOTE_TIMESTEN_SSL_ENABLED:{{ ANSWER_FILE_DATA.REMOTE_TIMESTEN_SSL_ENABLED }}
TIMESTEN_USERID:{{ ANSWER_FILE_DATA.TIMESTEN_USERID }}
TIMESTEN_PASSWORD:{{ ANSWER_FILE_DATA.TIMESTEN_PASSWORD }}
TIMESTEN_ADMIN_USERID:{{ ANSWER_FILE_DATA.TIMESTEN_ADMIN_USERID }}
CONSUL_LOCAL_SERVERS:{{ ANSWER_FILE_DATA.CONSUL_LOCAL_SERVERS | default('') }}
GEOEMSIPADDRESS:{{ ANSWER_FILE_DATA.GEOEMSIPADDRESS }}
