- hosts: POCEMSVMS
  become: true
  become_method: sudo
  gather_facts: false

  tasks:
    - name: Get EMS Container name
      become: true
      shell: docker ps |grep -i ems | grep -iv emsnni |awk -F ' ' '{print $NF}'
      register: emscontainer

    - name: Making Passwordless to VMs
      command: docker exec "{{item.0}}" bash -c "sshpass -p {{ ansible_ssh_pass }} ssh-copy-id -i /root/.ssh/id_dsa.pub -o StrictHostKeyChecking=no {{ ansible_ssh_user }}@{{ item.1 }}"
      loop: "{{ emscontainer.stdout_lines | product(POCVMIPS) | list}}"

    - name: Making Passwordless to BMs
      command: docker exec "{{item.0}}" bash -c "sshpass -p {{ ansible_ssh_pass }} ssh-copy-id -i /root/.ssh/id_dsa.pub -o StrictHostKeyChecking=no {{ ansible_ssh_user }}@{{ item.1 }}"
      loop: "{{ emscontainer.stdout_lines | product(POCBMIPS) | list}}"


