- hosts: all
  gather_facts: false
  serial: 1

  tasks:
    - name: cleanup ini file
      file: 
        path: /home/autoinstall/temp/{{item}}
        state: absent
      ignore_errors: True
      with_items:
        - "{{INIFILE | basename}}"
        - "{{ANS | basename}}"

    - name: Create ini file from template
      template:
        src: ./templates/ini_file.j2
        dest: /home/autoinstall/temp/{{INIFILE | basename}}
        owner: "{{ ansible_ssh_user }}"
        group: kodiakgroup
     
    - name: Create Answer file from template
      template:
        src: ./templates/ems_answer_file.j2
        dest: /home/autoinstall/temp/{{ ANS | basename }}
        owner: "{{ ansible_ssh_user }}"
        group: kodiakgroup
